  <span class="author-name"><%=@author.name%></span><span class="member-since">Member since <%="#{@author.created_at}" %> </span>
  <br>

<br>
    <%= @author.bio %>

<% if are_they_friends?(@current_user.id, @author.id) %>
  <h3>Stories</h3>
    <ol>
    <% @author.stories.each do |story| %>
      <li><a href=<%="/stories/#{story.id}/public"%>><%= story.title %></a></li>
    <% end %>
    </ol>
     <form action="<%="/users/#{@current_user.id}/friends/#{@author.id}/delete"%>">
      <input class="remove-partner" type="submit" value ="REMOVE CRITIQUE PARTNER"</input>
    </form>

  <% elsif @current_user.id == @author.id %>
    <h3>Stories</h3>
      <ol>
      <% @author.stories.each do |story| %>
        <li><a href=<%="/stories/#{story.id}/public"%>><%= story.title %></a></li>
      <% end %>
<% else %>
<p>
  <p>
    <form action="<%="/users/#{@current_user.id}/friends/new/#{@author.id}"%>">
      <input type="submit" value ="REQUEST CRITIQUE PARTNER"</input>
    </form>
    <p>
<% end %>



</div>



